.form-head {
  font-weight: 500;
  font-size: 25px;
}
.continue-btn {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.6);
  /* width: 350px; */
  width: 100%;
  outline: none;
  font-size: 16px;
  font-family: "Jost", sans-serif;
  padding: 5px;
  cursor: pointer;
  margin: 16px 0px;
  transition: 0.12s;
}
.continue-btn:hover {
  border-color: #7c7777;
  background-color: #7c7777;
  color: #ffffff;
}
.form-input {
  background: #ffffff;
  box-shadow: inset 0px 0px 5px -2px #000000;
  outline: none;
  font-family: "Jost", sans-serif;
  font-size: 17px;
  padding: 5px;
  transition: 0.12s;
  margin: 16px 0px;
  border: 1px solid transparent;
}
.form-input:focus {
  box-shadow: inset 0px 0px 6px -2px #000000;
}
.form-input-error {
  border-color: rgb(230, 53, 53);
}
.google-auth-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  width: 100%;
}
.google-auth-container span {
  transition: 0.12s;
}
.google-auth-container:hover .google-icon {
  background-color: rgb(255, 102, 37);
}
.google-auth-container:hover .google-text {
  background-color: rgb(255, 102, 37);
}

.google-icon {
  background-color: #e35b20;
  color: #ffffff;
  height: 36px;
  width: 36px;
  border-radius: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.google-text {
  background-color: #e35b20;
  color: #ffffff;
  margin-left: -7px;
  padding: 2px 8px;
  padding-right: 10px;
  font-size: 16px;
  border-radius: 0px 10px 10px 0px;
}

.form-input::placeholder {
  color: #7c7777;
}
.flex-row .form-input {
  width: 160px;
}
