@import url("./cart_results.css");
@import url("./small_screens/cart.css");
.cart-container {
  margin-top: 130px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}
.cart-products {
  display: flex;
  flex-direction: column;
}
.cart-product {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #fcfcfc;
  box-shadow: 0px 0px 4px -1px rgba(116, 111, 111, 0.25);
  max-width: 700px;
  height: 150px;
  box-sizing: border-box;
  margin-bottom: 10px;
}
.cart-product-image {
  width: 120px;
  height: 120px;
}
.cart-product-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 500px;
  padding: 15px;
}
.cart-product-name {
  font-weight: 500;
  font-size: 18px;
  line-height: 17px;
  margin-bottom: 7px;
}
.cart-product-vendor {
  width: fit-content;
  padding: 2px 5px;
  height: 20px;
  background: #746f6f;
  color: #fcfcfc;
  margin-bottom: 7px;
}
.cart-product-price {
  font-family: "Roboto Mono", monospace;
  font-size: 20px;
  font-weight: 500;
}
.cart-product-actions {
  background: rgba(116, 111, 111, 0.1);
  min-width: 100px;
  box-sizing: border-box;
  padding: 15px 7px;
}
.top-cart-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.cart-action {
  font-size: 16px;
  box-sizing: border-box;
  margin: 0px 0px;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.12s;
  height: 25px;
  width: 25px;
  border: 0px;
  outline: 0px;
}
.top-cart-action {
  color: #2b418d;
  background-color: transparent;
}
.bottom-cart-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.modify-cart-action {
  background: rgba(116, 111, 111, 0.4);
}
.modify-cart-action:hover {
  background: rgba(116, 111, 111, 0.6);
}
.cart-product-count {
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 17px;
}
.bg-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  padding: 0px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.8);
  /* display: none; */
}
.stripe-container {
  position: absolute;
  width: 350px;
  height: 200px;
  top: 50%;
  left: 50%;
  margin-left: -175px;
  margin-top: -100px;
  background-color: #fcfcfc;
  box-sizing: border-box;
  padding: 20px 40px;
  z-index: 99999;
}
.payment-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: inherit;
}
.card-label {
  font-size: 20px;
  font-weight: 500;
  color: rgb(39, 39, 39);
}
.cardholder {
  border: none;
  outline: none;
  font-family: "Jost", sans-serif;
  font-size: 18px;
  margin-left: -2px;
}
.cardholder-error,
.cardholder-error::placeholder {
  color: #eb1c26;
}
.pay-btn {
  background-color: #2b418d;
  outline: none;
  border: none;
  width: 120px;
  font-size: 20px;
  font-family: "Jost", sans-serif;
  padding: 4px;
  /* margin-top: 30px; */
  cursor: pointer;
  color: #fcfcfc;
  box-shadow: 0px 0px 43px -10px #746f6f;
  transition: 0.12s;
}
.pay-btn:hover {
  box-shadow: 0px 0px 53px -5px #746f6f;
}
