.products-container {
  margin-top: 120px;
}
.products-product {
  width: 190px;
  height: 340px;
  left: 213px;
  top: 115px;
  box-sizing: border-box;
  padding: 10px;
  cursor: pointer;
  background: #fcfcfc;
  box-shadow: 0px 0px 37px -20px #746f6f;
  color: #000;
  border: none;
  outline: none;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 50px;
  transition: 0.12s;
}
.products-product:hover {
  box-shadow: 0px 0px 45px -20px #746f6f;
}
.products-product-image {
  width: 170px;
  height: 170px;
}
.products-product-name {
  font-size: 17px;
  line-height: 20px;
  height: 30px;
}
.products-product-price {
  font-family: "Roboto Mono", monospace;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  /* line-height: 17px; */
  height: 20px;
  color: #000000;
}
.products-products-btn {
  margin: 0px !important;
}
.product-top-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.modify-products-btn {
  width: 56px;
  margin: 0px;
}
@media screen and (max-width: 400px) {
  a.products-product {
    width: 180px;
    height: 350px;
  }
  img.products-product-image {
    width: 160px;
  }
}
