.product-top-side {
  display: flex;
  flex-direction: row;
  margin-top: 90px;
}
.product-top-left-image {
  height: 400px;
  width: 400px;
  box-shadow: 0px 0px 24px -18px #786f6f;
}
.product-top-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 30px;
}
.product-top-right-name {
  font-size: 23px;
  font-weight: 500;
  margin-bottom: 10px;
}
.top-right-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}
.top-right-vendor {
  font-size: 16px;
}
.top-right-vendor-name {
  background: #7c7777;
  border-radius: 0px 20px 20px 0px;
  color: #fcfcfc;
  padding: 2px 7px;
}
.top-right-price {
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
  font-size: 22px;
  margin-top: 10px;
}
.top-right-product-action {
  margin-right: 25px;
  height: 40px;
  width: 40px;
  font-size: 19px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #4d4b4b27;
  border-radius: 50%;
  color: #353333;
  cursor: pointer;
  transition: 0.12s;
}
.top-right-product-action:hover {
  background-color: #22212134;
}
.product-top-hr {
  width: 100%;
  background-color: rgba(116, 111, 111, 0.22);
  border: 0.5px solid rgba(116, 111, 111, 0.22);
  margin: 20px 0px;
}
.related-product {
  background: #fcfcfc;
  border: 1px solid #747474;
  box-sizing: border-box;
  border-radius: 10px 0px;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin-bottom: 20px;
}

.related-product-image {
  height: 150px;
  width: 150px;
}
.top-right-copied-response {
  border: 1px solid #747474;
  padding: 3px;
}
.modify-cart-btn {
  width: 80px;
  margin-right: 10px;
}
.top-right-number-in-cart {
  background: #7c7777;
  color: #fcfcfc;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
