.response-message {
  z-index: 99;
  height: 45px;
  width: fit-content;
  max-width: 350px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #fcfcfc;
  position: fixed;
  top: 10px;
  border-radius: 10px;
  padding: 0px 5px;
  left: -350px;
}
.response-success {
  border: 1px solid rgba(27, 190, 21, 0.6);
}
.response-success .response-icon {
  color: rgba(16, 104, 13, 0.829);
}
.response-error {
  border: 1px solid rgba(197, 21, 21, 0.6);
}
.response-error .response-icon {
  color: rgba(177, 20, 20, 0.829);
}
.response-icon {
  margin: 0px 5px;
  font-size: 19px;
}
.response-text {
  margin: 0px 5px;
  font-size: 17px;
}
