.search-bg {
  width: 100%;
  box-sizing: border-box;
  background-color: #ffffff;
  position: fixed;
  padding: 10px 0px;
  box-sizing: border-box;
  top: 0px;
  height: 65px;
  box-shadow: 0px 0px 6px -2px #7c7777;
}
.search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 50%;
  margin-left: -165px;
  z-index: 9;
}
.search-box {
  background: #ffffff;
  box-shadow: inset 0px 0px 5px -2px #000000;
  border-radius: 20px 0px 0px 20px;
  outline: none;
  width: 250px;
  height: 44px;
  padding: 7px 15px;
  border: 2px solid #ffffff;
  border-right: 0px;
}
.search-box,
.search-button {
  font-family: "Jost", sans-serif;
  box-sizing: border-box;
  font-size: 16px;
  transition: 0.1s;
}
.search-box::placeholder {
  color: #7c7777;
}
.search-button {
  background: #7c7777;
  border-radius: 0px 20px 20px 0px;
  height: 40px;
  padding: 7px 15px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #fcfcfc;
  transition: 0.12s;
}
.search-button:hover {
  background: #524e4e;
}
.search-box-error {
  border: 2px solid rgb(235, 41, 41);
  height: 40px;
}
.search-results {
  position: fixed;
  width: 340px;
  box-sizing: border-box;
  top: 65px;
  background-color: #fff;
  height: 120px;
  left: 50%;
  margin-left: -170px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0px 0px 10px 10px;
  /* z-index: 9999999; */
}
.search-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  z-index: 999999;
  background-color: #fcfcfc;
  box-sizing: border-box;
  width: 340px;
  height: 60px;
  padding: 10px 5px;
  font-size: 15px;

  color: #000;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  transition: 0.12s;
}
.search-image {
  width: 45px;
  height: 45px;
  margin-right: 5px;
}
.search-item:last-child {
  border: none !important;
}
.search-item:hover {
  background-color: #f3f8fc;
}
@media screen and (max-width: 450px) {
  input.search-box {
    width: 180px;
  }
  div.search-container {
    margin-left: -130px;
  }
}
