@keyframes hideActions {
  0% {
    right: 0px;
  }
  100% {
    right: -100px;
  }
}
@keyframes showActions {
  0% {
    right: -100px;
  }
  100% {
    right: 0px;
  }
}
.toggle-actions {
  display: none;
  font-size: 21px;
  position: fixed;
  z-index: 999;
  cursor: pointer;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  transition: 0.12s;
  top: 13px;
  right: 10px;
  z-index: 9;
  background-color: #3b3b3b23;
  box-shadow: 0px 0px 15px -9px #3b3b3b;
  padding: 3px;
}
@media screen and (max-width: 770px) {
  span.toggle-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  div.nav-actions-container {
    flex-direction: column;
    background-color: #fcfcfc;
    align-items: center;
    top: 65px;
    right: 0px;
    padding: 10px;
  }
  a.nav-action {
    margin-right: 0px;
    margin: 7px 0px;
  }
}
.show-nav-actions {
  animation-name: showActions;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
}
.hide-nav-actions {
  animation-name: hideActions;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
}
